img {
  max-width: 100%;
  margin: auto;
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: Georgia-Pro,Georgia,serif;
  line-height: 2rem;
  font-size: 1rem;
  background: #5a5064;
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  color: #000;
}

body a {
  color: #000;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: Arial,sans-serif;
}

@media screen and (min-width: 100rem) {
  body {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 150rem) {
  body {
    font-size: 1.4rem;
  }
}

.banner {
  font-family: Arial,sans-serif;
  background: #c8c8c8;
  min-width: 100%;
}

.banner a:hover {
  text-decoration: none;
}

.banner h1,
.banner h2 {
  margin: auto;
  text-align: center;
  padding: 2rem;
}

@media screen and (min-width: 71.39999999999999rem) {
  .banner {
    width: 28.57142857142857%;
    min-width: 20rem;
    float: left;
    margin: auto;
  }
}

.site-footer {
  background: transparent;
  min-width: 96%;
  clear: both;
  bottom: 0%;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.site-footer p {
  background: #5a5064;
}

.extra-content {
  background: transparent;
  min-width: 100%;
}

.extra-content section {
  padding: 2%;
}

@media screen and (min-width: 71.39999999999999rem) {
  .extra-content {
    width: 28.57142857142857%;
    min-width: 20rem;
    min-height: 100%;
    float: left;
  }
}

.paginator {
  display: block;
  background: rgba(180,180,180,0.8);
  margin: 2%;
}

main {
  background: -webkit-radial-gradient(at center top, #00b446, #1e1e1e);
  background: radial-gradient(at center top,#00b446,#1e1e1e);
  min-width: 20rem;
  max-width: 100%;
  margin: auto;
  padding-top: 2%;
}

@media screen and (min-width: 71.39999999999999rem) {
  main {
    width: 71.42857142857143%;
    float: right;
  }
}

main header {
  text-align: center;
  padding: 2%;
}

.article,
.summary,
.page {
  display: block;
  -webkit-box-shadow: 1rem 1rem 1rem #1e1e1e;
  box-shadow: 1rem 1rem 1rem #1e1e1e;
  max-width: 50rem;
  min-width: 20rem;
  background: rgba(180,180,180,0.8);
  padding: 2%;
  margin: auto;
  margin-bottom: 2%;
}

.article footer,
.summary footer,
.page footer {
  background: #c8c8c8;
  font-size: 90%;
}

.article footer time,
.summary footer time,
.page footer time,
.article footer address,
.summary footer address,
.page footer address,
.article footer ol,
.summary footer ol,
.page footer ol,
.article footer ul,
.summary footer ul,
.page footer ul {
  display: inline-block;
  vertical-align: top;
  padding-right: 2rem;
}

@media screen and (min-width: 100rem) {
  .article,
  .summary,
  .page {
    max-width: 60rem;
  }
}

@media screen and (min-width: 150rem) {
  .article,
  .summary,
  .page {
    max-width: 70rem;
  }
}

.tag-list ol,
.category-list ol {
  display: inline-block;
  vertical-align: top;
}

.tag-list li,
.category-list li {
  display: inline-block;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: .5rem;
}

.tag-list li a,
.category-list li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.tag-list li a:hover,
.category-list li a:hover {
  text-decoration: none;
}

.tag-list li {
  background: #808080;
}

.category-list li {
  background: #fff;
}

.menu,
.comic-nav {
  font-family: Arial,sans-serif;
  background: rgba(0,0,0,0.75);
  max-width: 100%;
}

.menu a,
.comic-nav a {
  color: #808080;
}

.menu {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0%;
}

.menu-list,
.comic-nav-list {
  margin: 0;
  list-style: none;
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 100%;
}

.menu-list li,
.comic-nav-list li {
  list-style: none;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.menu-list li:hover,
.comic-nav-list li:hover {
  background: #fff;
}

.menu-list a,
.comic-nav-list a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.comic-nav-list {
  margin-top: 2%;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 2%;
}

.nav-menu ul {
  display: inline-block;
}

.nav-menu ul li {
  display: inline-block;
}

.article-neighbors,
.comments {
  margin-top: 2%;
  border-top: solid;
}