content_font =  Georgia-Pro, Georgia, serif
header_font = Arial, sans-serif
body_flex_direction = column
body_flex_wrap = wrap

text_padding = 2rem 
max_width = 50rem
min_width = 20rem
font_size = 1rem
scale_medium = 1.2
scale_large = 1.4
font_color = black
link_color = font_color

header_bg = article_footer_bg
footer_bg = article_footer_bg
body_bg = rgb(90, 80, 100)
aside_bg = transparent
main_bg = radial-gradient(at center top, rgb(0, 180, 70), rgb(30,30,30))
article_bg = rgba(180,180, 180 ,0.8)
column_count = 1

article_footer_bg = rgb(200,200,200)
tag_bg = grey
category_bg = white

menu_button_font = header_font
menu_button_size = 5rem
menu_bg = rgba(0,0,0,0.75)
menu_hover = white
menu_height = 4rem
menu_color = grey


main_ratio = 5
side_ratio = 2
main_percent = (main_ratio/(main_ratio+side_ratio)*100)%
side_percent = (side_ratio/(main_ratio+side_ratio)*100)%
default_padding = 2%

side_bar_side = left
main_side = right

query_1_value = min_width * ((main_ratio + side_ratio)/ side_ratio + default_padding)

if (2*max_width < query_1_value)
    query_2_value = query_1_value * scale_medium
    query_1_value = max_width *2
else
    query_2_value = max_width *2

query_3_value = max_width * 3


//media_queries
query_1 = "screen and (min-width: " + query_1_value + ")"

query_2 = "screen and (min-width: " + query_2_value + ")"

query_3 = "screen and (min-width: " + query_3_value + ")"

img
    max-width: 100%
    margin: auto
    display: block
    
body
    min-height: 100vh
    min-width: 100%
    font-family: content_font
    line-height: text_padding
    font-size: font_size
    background: body_bg
    margin: 0
    padding: 0
    padding-top: menu_height
    color: font_color
    a
        color: link_color
        text-decoration: none
    a:hover
        text-decoration: underline
    h1, h2, h3, h4, h5, h6
        font-family: header_font
    @media query_2
        font-size: font_size*scale_medium
    @media query_3
        font-size: font_size*scale_large
       
.banner
    font-family: header_font
    background: header_bg
    min-width: 100%
    a:hover
        text-decoration: none
    h1, h2
        margin: auto
        text-align: center
        padding: 2rem
    @media query_1
        width: side_percent
        min-width: min_width
        float: side_bar_side
        margin: auto

.site-footer
    background: aside_bg
    min-width: 100% - 2*default_padding
    clear: both
    bottom: 0%
    padding: default_padding
    margin-top: default_padding
    margin-bottom: default_padding
    p
        background: body_bg

.extra-content
    background: aside_bg
    min-width: 100%
    section
        padding: default_padding
    @media query_1
        width: side_percent
        min-width: min_width
        min-height: 100%
        float: side_bar_side

.paginator
    display: block
    background: article_bg
    margin: default_padding

main
    background: main_bg
    min-width: min_width
    max-width: 100%
    margin: auto
    padding-top: default_padding
    @media query_1
        width: main_percent
        float: main_side
    header
        text-align: center
        padding: default_padding

.article, .summary, .page
    display: block
    box-shadow: 1rem 1rem 1rem rgb(30,30,30)
    max-width: max_width
    min-width: min_width
    background: article_bg
    padding: default_padding
    margin: auto
    margin-bottom: default_padding
    footer
        background: article_footer_bg
        font-size: 90%
        time, address, ol, ul
            display: inline-block
            vertical-align: top
            padding-right: 2rem
    @media query_2
        max-width: max_width * scale_medium
    @media query_3
        max-width: max_width * scale_large

.tag-list, .category-list       
    ol
        display: inline-block
        vertical-align: top
    li
        display: inline-block
        padding: text_padding*.5
        padding-top: 0
        padding-bottom: 0
        margin: text_padding *.25
        a
            display: inline-block
            width: 100%
            height: 100%
            vertical-align: top
        a:hover
            text-decoration: none
            
.tag-list li
    background: tag_bg
        
.category-list li
    background: category_bg


.menu, .comic-nav
    font-family: header_font
    background: menu_bg
    max-width: 100%
    a
        color: menu_color

.menu
    width: 100%
    height: menu_height
    position: fixed
    top: 0%

.menu-list, .comic-nav-list
    margin: 0
    list-style: none
    padding: 1rem
    display: flex
    flex-direction: row
    flex-wrap: no-wrap
    align-items: flex-end
    max-width: 100%
    li
        list-style: none
        text-align: center
        flex: 1
        
    li:hover
        background: menu_hover
    a
        display: inline-block
        width: 100%
        height: 100%
        
.comic-nav-list
    margin-top: default_padding
        
.post-list
    margin: 0
    padding:0
    list-style-type: none
    margin-top: default_padding
    
.nav-menu
    ul
        display: inline-block
        li
            display: inline-block

.article-neighbors, .comments
    margin-top: default_padding
    border-top: solid
